* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sas-serif;
  background-color: #003060;
  color: white;
  line-height: 1.6;
  text-align: center;
}

#content {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
  position: relative;
  animation-name: floatingright;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes floatingright {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}


#showcase {
  height: 300px;
}

#showcase h1 {
  font-size: 50px;
  position: relative;
  line-height: 1.3;
  animation-name: floatingdown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes floatingdown {
  0% {
    top: -60px;
  }
  100% { 
    top: 160px;
}
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: white 1px solid;
  padding: 1rem 2rem;
  margin-top: 30px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn:hover {
  transform: rotateY(180deg);
}
